body {
    font-family: 'Raleway', sans-serif;
}

.main-container {
    padding: 20px 40px;
    text-align: center;
}

.main-container h1 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-family: 200;
}

.main-container hr {
    width: 60%;
}

.add {
    justify-content: center;
}

.add input {
    margin: 0 20px 20px 20px;
}

.course-container {
    border-bottom: 1px solid gold
}

.courses-container p {
    font-size: 20px;
    margin: 10px 0
}

.calculate button {
    margin-top: 20px;
    outline-color: transparent;
}

.delete {
    position: absolute;
    right: 30px;
}